app.properties
public/**
!public/g3c.scan.image.sph.js
!public/index.html
!public/pictures/iconBorder.gif
!public/pictures/vector2x.png
adscopeManual.docx
.eslintrc.js
.prettierrc
access.log
node_modules/**
clientClient
clientAis
csv/**
!csv/objetos2.json
index.html
startDocker.sh
.gitignore
oldDist
test.js